<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Edit your Listing</h3> <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" nonvalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label" >Description</label>
            <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
        </div>
        
        <div class="mb-3">
            Original Image 
            <br>
            <img src="<%= listing.image.url %>" alt="" class="img-fluid" style="max-width: 300px;">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label" >Upload New Image</label>
            <input name="listing[image]"  type="file" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control">
            </div>
        
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control">
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" >
        </div>
        
        <!-- <div class="mb-3">
            <label for="mapEmbed" class="form-label">Google Maps Embed Code</label>
            <textarea name="listing[mapEmbed]" placeholder="Paste Google Maps embed code here" class="form-control" required><%= listing ? listing.mapEmbed : '' %></textarea>
            <div class="invalid-feedback">Please provide a valid Google Maps embed code.</div>
            <div class="valid-feedback">Looks good!</div>
        </div> -->

        <br>
        <button class="btn btn-dark add-btn">Edit</button>
        <br> <br> <br>
    </form>
</div>
</div>
